# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Other
*.DS_Store
*.sqlite3
*.db
*.env